@model recruitment.Models.UserApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserApplication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobListing.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobListing.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
