@model IEnumerable<recruitment.Models.UserApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CV.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobListing.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CV.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobListing.Title)
            </td>
                <td>
                    @{
                        var status = "";
                        switch (item.ApplicationStatus.ApplicationStatusId)
                        {
                            case 1:
                                status = "Pending";
                                break;
                            case 2:
                                status = "Already accepted";
                                break;
                            case 3:
                                status = "Was rejected";
                                break;
                            default:
                                status = "Unknown";
                                break;
                        }
                    }
                    @status
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Status</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
